header {
	text-align: center;
	background: lightblue;
	margin: 0 0 25px 0;
	width: 100%;
}
#main {
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	#controls{
		#map {
		}
		ul {
			list-style: none;
		}
	}
}